<ion-content>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title><strong>iSenac</strong> - Reciclagem</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list-header>
        <ion-label>Lixo Hospitalar / Radioativo</ion-label>
      </ion-list-header>
        <ion-item>
          <ion-icon slot="start"  name="checkbox"></ion-icon>
          <ion-label><strong>O que é?</strong></ion-label>
        </ion-item>
        <ion-card-content>O resíduo radioativo hospitalar é qualquer material provenientes de locais como hospitais, clínicas radiológicas, que contenha radionuclídeos em quantidades superiores aos limites de isenção especificados na CNEN NE-6.02.</ion-card-content>
        <ion-item>
          <ion-icon slot="start"  name="thumbs-down"></ion-icon>
          <ion-label>Quais os danos causados:</ion-label>
        </ion-item>
        <ion-card-content>O descarte incorreto desses resíduos representa um constante risco em caso de vazamento da radiação. As consequências são graves, como: queimaduras, câncer, má formação de crianças e dependendo do grau de radiação, levar ao óbito.</ion-card-content>
        <ion-item>
          <ion-icon slot="start"  name="leaf"></ion-icon>
          <ion-label>Como fazer o descarte <br>de forma correta:</ion-label>
        </ion-item>
        <ion-card-content>O lixo hospitalar radioativo deve ser separado em recipientes apropriados e descartados em locais revestidos de concreto. Esse lixo deve ficar intacto por um período entre 50 e 300 anos.</ion-card-content>
        <ion-item>
          <ion-icon slot="start"  name="nuclear"></ion-icon>
          <ion-label>Principais exemplos:</ion-label>
        </ion-item>
        <ion-card-content>Os lixos radioativos são produzidos por diversas maneiras, sendo que as predominantes são:
          Laboratórios de exames clínicos - Alguns equipamentos utilizados por pacientes que fazem tratamento de radioterapia, por exemplo, utilizam produtos radioativos.
          Usinas nucleares - Uma vez que o processo de fissão nuclear seja findado, o restante do urânio é considerado resíduo radioativo.
          Armas nucleares - Todos os processos que envolvem armas nucleares, como fabricação e manutenção, geram resíduos desse tipo.
          </ion-card-content>
    </ion-content>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button [routerLink]="['/inicio']">
          <ion-icon name="home" aria-hidden="true"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/material']">
          <ion-icon name="leaf" aria-hidden="true"></ion-icon>
          <ion-label>Material Reciclável</ion-label>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/mapa']">
          <ion-icon name="map" aria-hidden="true"></ion-icon>
          <ion-label>Mapa</ion-label>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/conta']">
          <ion-icon name="person" aria-hidden="true"></ion-icon>
          <ion-label>Conta</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>