<ion-content>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title><strong>iSenac</strong> - Reciclagem</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list-header>
        <ion-label>Papel</ion-label>
      </ion-list-header>
        <ion-item>
          <ion-icon slot="start"  name="checkbox"></ion-icon>
          <ion-label><strong>O que é?</strong></ion-label>
        </ion-item>
        <ion-card-content>O papel é um material constituído por elementos fibrosos de origens vegetais e é feito principalmente de celulose, uma substância que se encontra no tronco das árvores.</ion-card-content>
        <ion-item>
          <ion-icon slot="start"  name="thumbs-down"></ion-icon>
          <ion-label>Quais os danos causados:</ion-label>
        </ion-item>
        <ion-card-content>O descarte errado do papel não causa diretamente um impacto ambiental já que é um material biodegradável, porém não reciclar o papel impacta na destruição de mais árvores que serão utilizadas para fazer mais papel entre outros problemas. Estima-se que a produção de 1 tonelada de papel consome de 50 a 60 eucaliptos, 100 mil litros de água e 5 mil KW/h de energia. Em contraponto, a reciclagem dele evita a emissão de dióxido de carbono.</ion-card-content>
        <ion-item>
          <ion-icon slot="start"  name="leaf"></ion-icon>
          <ion-label>Como fazer o descarte <br>de forma correta:</ion-label>
        </ion-item>
        <ion-card-content>Para fazer o descarte correto, o papel deve estar seco, sem gordura e resto de comida. Esses papéis deverão ser descartados em área de coleta seletiva, na lixeira azul. Caso não esteja nos conformes, deverá ser descartado na lixeira de lixo orgânico.</ion-card-content>
        <ion-item>
          <ion-icon slot="start"  name="document"></ion-icon>
          <ion-label>Principais exemplos:</ion-label>
        </ion-item>
        <ion-card-content>Os papéis recicláveis são:  Jornal, revistas e impressos. Papel de escritório (envelopes, sulfite, papeis de carta). Papel branco e misto. Embalagens longa vida. Embalagens de produtos de higiene e limpeza. Embalagens e bulas de remédio. Papel laminado (brilhantes). Papel térmico (extratos de banco e comprovantes de cartões). Papelão. Sacolas de papel.</ion-card-content>
    </ion-content>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button [routerLink]="['/inicio']">
          <ion-icon name="home" aria-hidden="true"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/material']">
          <ion-icon name="leaf" aria-hidden="true"></ion-icon>
          <ion-label>Material Reciclável</ion-label>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/mapa']">
          <ion-icon name="map" aria-hidden="true"></ion-icon>
          <ion-label>Mapa</ion-label>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/conta']">
          <ion-icon name="person" aria-hidden="true"></ion-icon>
          <ion-label>Conta</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>