<ion-content>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title><strong>iSenac</strong> - Reciclagem</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list-header>
        <ion-label>Vidro</ion-label>
      </ion-list-header>
        <ion-item>
          <ion-icon slot="start"  name="checkbox"></ion-icon>
          <ion-label><strong>O que é?</strong></ion-label>
        </ion-item>
        <ion-card-content>O vidro é um material inorgânico, cujo elemento básico é a sílica encontrada em abundância na areia e um dos materiais mais recicláveis e menos nocivos para o meio ambiente.</ion-card-content>
        <ion-item>
          <ion-icon slot="start"  name="thumbs-down"></ion-icon>
          <ion-label>Quais os danos causados:</ion-label>
        </ion-item>
        <ion-card-content>O vidro descartado de maneira incorreta não causa diretamente efeitos nocivos ao meio ambiente, porém, a não reutilização e reciclagem dele aumenta a extração de areia que gera danos ao meio ambiente como a alteração das características de um rio, afugentamento da fauna, supressão de matas ciliares, entre outros danos.</ion-card-content>
        <ion-item>
          <ion-icon slot="start"  name="leaf"></ion-icon>
          <ion-label>Como fazer o descarte <br>de forma correta:</ion-label>
        </ion-item>
        <ion-card-content>Para fazer o descarte correto, o vidro deve ser separado do lixo comum, lavado e secado. Se for possível, faça a separação dos vidros por cores (branco, âmbar, verde) e em seguida leve para um centro de coleta seletiva e descarte na lixeira de cor verde.</ion-card-content>
        <ion-item>
          <ion-icon slot="start"  name="flask"></ion-icon>
          <ion-label>Principais exemplos:</ion-label>
        </ion-item>
        <ion-card-content>Vidros que podem ser reciclados: Vidro plano (janela, porta), garrafas de bebidas (leite, sucos, cervejas, refrigerantes, etc), fragmentos de vidros comuns, pratos, copos e tigelas, potes para armazenamento de alimentos, frasco (remédio e/ou perfume).
          Vidros que não podem ser reciclados: Espelhos, vidros temperados, refratários – Pirex, porcelana, tampa de microondas, lâmpadas, cristais, ampolas (remédios).
          </ion-card-content>
    </ion-content>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button [routerLink]="['/inicio']">
          <ion-icon name="home" aria-hidden="true"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/material']">
          <ion-icon name="leaf" aria-hidden="true"></ion-icon>
          <ion-label>Material Reciclável</ion-label>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/mapa']">
          <ion-icon name="map" aria-hidden="true"></ion-icon>
          <ion-label>Mapa</ion-label>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/conta']">
          <ion-icon name="person" aria-hidden="true"></ion-icon>
          <ion-label>Conta</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>