<ion-content>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title><strong>iSenac</strong> - Reciclagem</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list-header>
        <ion-label>Metal</ion-label>
      </ion-list-header>
        <ion-item>
          <ion-icon slot="start"  name="checkbox"></ion-icon>
          <ion-label><strong>O que é?</strong></ion-label>
        </ion-item>
        <ion-card-content>Metais são elementos caracterizados pelo brilho, resistência, condutividade térmica e elétrica, geralmente apresentando uma cor prateada ou amarelada, e uma elevada dureza.</ion-card-content>
        <ion-item>
          <ion-icon slot="start"  name="thumbs-down"></ion-icon>
          <ion-label>Quais os danos causados:</ion-label>
        </ion-item>
        <ion-card-content>O descarte incorreto de metais é o principal responsável pela contaminação das águas e solos. Estes podem ser absorvidos por vegetais e animais, gerando uma intoxicação em escala. Além de gerar mais gasto de energia para processar metais virgens do que os metais reciclados.</ion-card-content>
        <ion-item>
          <ion-icon slot="start"  name="leaf"></ion-icon>
          <ion-label>Como fazer o descarte <br>de forma correta:</ion-label>
        </ion-item>
        <ion-card-content>Os metais devem ser separados do lixo orgânico, depois de separá-lo, deve ser encaminhado a um centro de coleta seletiva disponível na sua cidade e descartado na lixeira amarela.</ion-card-content>
        <ion-item>
          <ion-icon slot="start"  name="build"></ion-icon>
          <ion-label>Principais exemplos:</ion-label>
        </ion-item>
        <ion-card-content>Metais recicláveis: latas de alumínio (ex. latas de bebidas), latas de aço (ex. latas de óleo, sardinha, molho de tomate), tampas, ferragens, canos, esquadrias e molduras de quadros. Lembrando que devem estar limpos e, sempre que possível, reduzidos a um menor volume (amassados).</ion-card-content>
    </ion-content>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button [routerLink]="['/inicio']">
          <ion-icon name="home" aria-hidden="true"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/material']">
          <ion-icon name="leaf" aria-hidden="true"></ion-icon>
          <ion-label>Material Reciclável</ion-label>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/mapa']">
          <ion-icon name="map" aria-hidden="true"></ion-icon>
          <ion-label>Mapa</ion-label>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/conta']">
          <ion-icon name="person" aria-hidden="true"></ion-icon>
          <ion-label>Conta</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>